cloudbuild-iam.sh

infrastructure/.terraform/**
infrastructure/.terraform.lock.hcl
infrastructure/.terraform.tfstate

cuez-custom-proxy/node_modules
cuez-custom-proxy/node_modules/.package-lock.json
cuez-custom-proxy/node_modules/*
cuez-custom-proxy/node_modules/**
cuez-custom-proxy/.venv
cuez-custom-proxy/.venv/*
cuez-custom-proxy/.venv/**

cuez-rundown/.venv/*
cuez-rundown/.venv/**

local-env-vars.txt
cuez-custom-proxy/local-env-vars.txt

.DS_Store
__pycache__

venv
venv/*
venv/**
**/.env
.venv
.venv/*
.venv/**

*/.venv
*/.venv/*
*/.venv/**

**/.vscode/
**/.idea/

*/terraform.tfvars
